/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.homepage-container {
  text-align: center;
}

.homepage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 250px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}
